html {
  height:100%;
  width:100%;
}

.body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;       
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

button:focus {
  outline: 0;
}

*:not(.material-icons) {
  font-family: var(--font, Roboto) !important;
}

.mdc-drawer--temporary {
  height: calc(100% - var(--taskbar-height, 40px));
}
  
.content {
  height: 100%;
  position: relative;
}


.taskbar {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 5;
  height: var(--taskbar-height, 40px);
  background-color: var(--mdc-theme-primary, #3f51b5); 
}

.mdc-toolbar__row .mdc-switch .mdc-switch__native-control:enabled:not(:checked) ~ .mdc-switch__background::before :not(.mdc-simple-menu) {
  background-color: #FFF;
}

.mdc-checkbox__native-control:enabled ~ .mdc-fab__icon {
  pointer-events: none;
  transition: transform 150ms 0ms cubic-bezier(.4, 0, .2, 1);
}

.mdc-checkbox__native-control:enabled:checked ~ .mdc-fab__icon {
  transform: rotate(180deg);
}

.mdc-drawer__subtitle {
  height: 48px;
  line-height: 48px;
  padding: 0 16px;
  font-size: 0.875rem;
  color: rgba(0,0,0,0.54);
  font-weight: 500;
}

.mdc-theme--dark .mdc-drawer__subtitle {
  color: rgba(255,255,255,70);
}

.cover-art {
  width: 44px; 
  height: 44px; 
  padding: 0; 
  margin: 0 12px 0 24px; 
  border-radius: 50%;
  z-index: 4;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#cover {
  width: auto;
  height: 100%;
}

.track-info {
  width: calc(100% - 80px);
  padding: 0px;
  height: 100%;
}

.track-info.mdc-list--two-line .mdc-list-item  {
  height: 100%;
}

.track-info .mdc-list-item__text {
  width: 100%;
}

.track-info .mdc-list-item__primary-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.mdc-theme--dark {
  --mdc-theme-background: #424242;
}

.list-switch {
  padding: 0 10px;
}

.list-switch-native {
  left: -270px;
  width: 320px;
}

#websockets.hidden {
 display: none; 
}

button.mdc-list-item {
  background-color: transparent;
  border: none;
  width: 100%;
}