
@import "@material/animation/functions";
@import "@material/elevation/mixins";
@import "@material/linear-progress/mixins";
@import "@material/theme/mixins";
@import "@material/rtl/mixins";

$media-bar-row-height: 56px;

@mixin css-variable($property, $name, $value) {
  #{$property}: $value;
  #{$property}: var(--#{$name}, $value);
}

.media-bar {
  
  position: fixed;
  bottom: var(--taskbar-height, 40px);
  width: 100%;
  z-index: 3;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
  transition: mdc-animation-enter(bottom, .195s);
  
  pointer-events: none;
  
  &__fab {
    margin: 1rem;
    
    pointer-events: auto;
    
    .mdc-fab__icon {
      pointer-events: none;
      transition: transform 150ms 0ms cubic-bezier(.4, 0, .2, 1);
    }
      
    .mdc-checkbox__native-control:enabled:checked ~ .mdc-fab__icon { 
      transform: rotate(180deg);
    }
    
  }
  
  @media (min-width: 840px) {
    &__fab {
      margin: 1.5rem;
    }
  }
  
  &__bar {
    width: 100%;
  
    overflow: hidden;
    
    pointer-events: auto;
  
    @include mdc-elevation(8);
    transition: mdc-animation-enter(box-shadow, .195s);
    
    @include mdc-theme-prop(background-color, background);

    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  }
  
  &--from-top {
    flex-direction: column-reverse;
    position: absolute;
    top: 0;
    bottom: auto;
  
    transition: mdc-animation-enter(top, .195s);
    
    .media-bar__fab {
    
      .mdc-fab__icon {
        transform: rotate(180deg);
        transition: transform 150ms 0ms cubic-bezier(.4, 0, .2, 1);
      }
      
      .mdc-checkbox__native-control:enabled:checked ~ .mdc-fab__icon { 
        transform: rotate(0);
      }
    }
    .media-bar__bar {
      @include mdc-elevation(3);
      flex-direction: column-reverse;
    }
    &.media-bar--hidden {
      top: 0 - $media-bar-row-height - 4px;
      bottom: auto;
      transition: mdc-animation-exit-temporary(top, .225s);
      
      &.media-bar--card {
        top: calc( #{(-$media-bar-row-height)} - var(--mdc-layout-grid-margin-desktop, 24px) - 4px);
        bottom: auto;
      }
    }
  }
  
  &--hidden {
    transition: mdc-animation-exit-temporary(bottom, .225s);
    bottom: calc(#{76px - $media-bar-row-height} - var(--taskbar-height, 40px) );
    .media-bar__bar {
      box-shadow: none;
      transition: mdc-animation-exit-temporary(box-shadow, .225s);
    }
  }
  
  &--card {
    @include css-variable(padding, mdc-layout-grid-margin-desktop, 24px);
    box-sizing: border-box;
    
    .media-bar__bar {
      border-radius: 2px;
      @include mdc-elevation(2);
    }
    
    &.media-bar--hidden {
      bottom: calc( #{28px - $media-bar-row-height} - var(--taskbar-height, 40px) + var(--mdc-layout-grid-margin-desktop, 24px));
    
      .media-bar__bar {
        box-shadow: none;
      }
    }
  }

  &__row {
    display: flex;
    position: relative;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    min-height: $media-bar-row-height;
  }
  
  &__section {
    display: inline-flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    min-width: 0;
    height: 100%;
    z-index: 1;

    &--align-start {
      justify-content: flex-start;
      order: -1;
    }

    &--align-end {
      justify-content: flex-end;
      order: 1;
    }

    &--shrink-to-fit {
      flex: none;
    }
  }
  
  &__album-icon {
    user-select: none;
    @include mdc-theme-prop(color, text-icon-on-background);
  }
  
  &__cover {
    height: $media-bar-row-height - 8px;
    width: $media-bar-row-height - 8px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 24px;
    position: relative;
    &-art {
      height: 100%;
      width: 100%;
      position: absolute;
    }
    &--rounded {
      border-radius: 50%;
    }
  }
  
  &__icon {
    padding: 12px;
    @include mdc-theme-prop(color, text-icon-on-background);
    user-select: none;
    border: none;
    @include mdc-theme-prop(background-color, transparent);
    outline: none;
  }
  
  &__main-button {
    width: $media-bar-row-height - 16px; 
    height: $media-bar-row-height - 16px; 
    @include mdc-theme-prop(background-color, primary);
    padding: 0; 
    margin: 0 12px; 
    border-radius: 50%;
    @include mdc-theme-prop(color, text-primary-on-primary);
    line-height: $media-bar-row-height - 16px; 
    text-align: center;
    user-select: none;
    border: none;
    outline: none;
  }
  
  &__track-info {
    height: $media-bar-row-height;
    overflow: hidden;
    display: flex;
    align-items: center;
    
    .mdc-list, .mdc-list-item, .mdc-list-item__text, .mdc-list-item__text * {
      padding: 0;
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    
  }
  &__position {
    padding: 0 24px;
  }
  .mdc-linear-progress {
    @include mdc-linear-progress-bar-color(secondary);
  }
}
  
@media (max-width: 839px) and (min-width: 480px) {
  .media-bar--card {
    @include css-variable(padding, mdc-layout-grid-margin-tablet, 16px);
    &.media-bar--hidden {
      bottom: calc(#{44px - $media-bar-row-height} - var(--taskbar-height, 40px) + var(--mdc-layout-grid-margin-tablet, 16px));
      &.media-bar--from-top {
        top: calc( #{(-$media-bar-row-height) - 4px} - var(--mdc-layout-grid-margin-tablet, 16px));
        bottom: auto;
      }
    }
  }
}
  
@media (max-width: 479px) {
  .media-bar--card {
    @include css-variable(padding, mdc-layout-grid-margin-phone, 16px);
    &.media-bar--hidden {
      bottom: calc(#{44px - $media-bar-row-height} - var(--taskbar-height, 40px) + var(--mdc-layout-grid-margin-phone, 16px));
      &.media-bar--from-top {
        top: calc( #{(-$media-bar-row-height) - 4px} - var(--mdc-layout-grid-margin-phone, 16px));
        bottom: auto;
      }
    }
  }
}