node_modules/
run.bat
sass.bat
sasswatch.bat
install-mcw.bat
Rainmeter/Skins/MaterialDesktopCompanion/@Resources/CoverWeb.png
Rainmeter/Skins/MaterialDesktopCompanion/@Resources/CoverSpotify.png
Rainmeter/Skins/MaterialDesktopCompanion/@Resources/Cover.png
*.bat
